/*Clear edges and define background and font*/
body, html {
    margin: 0;
    padding: 0;
    background: url("../bg_pattern.png");
    font-family: Arial, Helvetica, sans-serif;
}

#banner {
    width: 1000px;
    height: 200px;
}

/*Start Nav Styles*/
#nav {
    width: 1000px;
}

#nav ul {
    list-style: none;
    display: block;
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}

#nav a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    float: left;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #660000;
    color: #FFF;
}

#nav a:hover {
    background-color: #FFF;
    color: #000;
}

/*End Nav Styles */
/*Main container and Utility Div styles*/
#main_container {
    width: 1000px;
    margin: 0 auto;
    border-right-style: solid;
    border-right-color: #000000;
    border-right-width: 5px;
    border-left-style: solid;
    border-left-color: #000000;
    border-left-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-bottom-width: 5px;
    -webkit-box-shadow: 0 0px 35px 7px #000;
    -moz-box-shadow: 0 0px 35px 7px #000;
    box-shadow: 0 0px 35px 7px #000;
}

#util {
    width: 250px;
    float: right;
    position: relative;
}

#util img {
    width: 217px;
    margin: 0 auto;
    padding: 5px;
}

#util_food {
    width: 250px;
    float: right;
    position: relative;
}

#util_food img {
    width: 217px;
    margin: 0 auto;
    padding: 5px;
}

#util_map {
    width: 405px;
    float: right;
    position: relative;
    border: none;
}

#util_map img {
    width: 400px;
    margin: 0 auto;
    padding: 5px;
    border: none;
}

#container {
    float: left;
    width: 990px;
    background-color: #FFFFFF;
    padding: 0 5px;
    font-size: 14px;
    border: #000000;
}

#container.col {
    margin: 0 auto;
    height: 400px;
    width: 800px;
    text-align: center;
}

#footer {
    width: 990px;
    clear: both;
    padding: 5px;
    background-color: #FFF;
    text-align: right;
    font-size: 12px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
}

/*End Container Styles*/

/*"Details" styles*/
.descriptor {
    font-size: 12px;
}

.entree_desc {
    text-align: left;
    text-decoration: underline;
}

.col {
    text-align: center;
    margin: 0 auto;
}

