/* jqm docs css

Beware: lots of last-minute CSS going on in here 
cobblers, shoes, 
*/

body {
    /*background: #dddddd;*/
    background: #fff
}

.ui-mobile .type-home .ui-content {
    margin: 0;
    background: #fff top center repeat-x;
}

.ui-mobile #jqm-homeheader {
    padding: 40px 10px 0;
    text-align: center;
    margin: 0 auto;
}

.ui-mobile #jqm-homeheader h1 {
    margin: 0 0;
}

.ui-mobile #jqm-homeheader p {
    margin: .3em 0 0;
    line-height: 1.3;
    font-size: .9em;
    font-weight: bold;
    color: #666;
}

.ui-mobile #jqm-version {
    text-indent: -99999px;
    background: top right no-repeat;
    width: 119px;
    height: 122px;
    overflow: hidden;
    position: absolute;
    z-index: 50;
    top: -11px;
    right: 0;
}

.ui-mobile .jqm-themeswitcher {
    margin: 10px 25px 10px 10px;
}

h2 {
    margin: 1.2em 0 .4em 0;
}

p code {
    font-size: 1.2em;
    font-weight: bold;
}

dt {
    font-weight: bold;
    margin: 2em 0 .5em;
}

dt code, dd code {
    font-size: 1.3em;
    line-height: 150%;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#jqm-homeheader img {
    width: 600px;
}

img {
    max-width: 100%;
}

.ui-header .jqm-home {
    top: 0.65em;
}

nav {
    margin: 0;
}

p.intro {
    font-size: .96em;
    line-height: 1.3;
    border-top: 1px solid #75ae18;
    border-bottom: 0;
    background: none;
    margin: 1.5em 0;
    padding: 1.5em 15px 0;

}

p.intro strong {
    color: #558e08;
}

.footer-docs {
    padding: 5px 0;
}

.footer-docs p {
    float: left;
    margin-left: 15px;
    font-weight: normal;
    font-size: .9em;
}

.type-interior .content-secondary {
    border-right: 0;
    border-left: 0;
    margin: 10px -15px 0;
    background: #fff;
    border-top: 1px solid #ccc;
}

.type-home .ui-content {
    margin-top: 5px;
}

.type-interior .ui-content {
    padding-bottom: 0;
}

.content-secondary .ui-collapsible {
    padding: 0 15px 10px;

}

.content-secondary .ui-collapsible-content {
    padding: 0;
    background: none;
    border-bottom: none;
}

.content-secondary .ui-listview {
    margin: 0;
}

/* new API additions */

dt {
    margin: 35px 0 15px 0;
    background-color: #ddd;
    font-weight: normal;
}

dt code {
    display: inline-block;
    font-weight: bold;
    color: #56A00E;
    padding: 3px 7px;
    margin-right: 10px;
    background-color: #fff;
}

dd {
    margin-bottom: 10px;
}

dd .default {
    font-weight: bold;
}

dd pre {
    margin: 0 0 0 0;
}

dd code {
    font-weight: normal;
}

dd pre code {
    margin: 0;
    border: none;
    font-weight: normal;
    font-size: 100%;
    background-color: transparent;
}

dd h4 {
    margin: 15px 0 0 0;
}

.localnav {
    margin: 0 0 20px 0;
    overflow: hidden;
}

.localnav li {
    float: left;
}

.localnav .ui-btn-inner {
    padding: .6em 10px;
    font-size: 80%;
}

/* docs site layout */

@media all and (min-width: 650px) {

    .jqm-home {
        position: absolute;
        left: 10px;
        top: 0;
    }

    .type-home .ui-content {
        margin-top: 5px;
    }

    .ui-mobile #jqm-homeheader {
        max-width: 340px;
    }

    .ui-mobile .jqm-themeswitcher {
        float: right;
    }

    p.intro {
        margin: 2em 0;
    }

    .type-home .ui-content,
    .type-interior .ui-content {
        padding: 0;
    }

    .type-interior .ui-content {
        background-position: 45%;
        overflow: hidden;
    }

    .content-secondary {
        text-align: left;
        float: left;
        width: 45%;
        background: none;
    }

    .content-secondary,
    .type-interior .content-secondary {
        margin: 30px 0 20px 2%;
        padding: 20px 4% 0 0;
        background: none;
        border-top: none;
    }

    .type-index .content-secondary {
        padding: 0;
    }

    .content-secondary .ui-collapsible {
        margin: 0;
        padding: 0;
    }

    .content-secondary .ui-collapsible-content {
        border: none;
    }

    .type-index .content-secondary .ui-listview {
        margin: 0;
    }

    .ui-mobile #jqm-homeheader {
        padding: 0;
    }

    .content-primary {
        width: 45%;
        float: right;
        margin-top: 30px;
        margin-right: 1%;
        padding-right: 1%;
        padding-bottom: 25px;
    }

    .content-primary ul:first-child {
        margin-top: 0;
    }

    .content-secondary h2 {
        position: absolute;
        left: -9999px;
    }

    .type-interior .content-primary {
        padding: 1.5em 6% 3em 0;
        margin: 0;
    }

    /* fix up the collapsibles - expanded on desktop */
    .content-secondary .ui-collapsible-heading {
        display: none;
    }

    .content-secondary .ui-collapsible-contain {
        margin: 0;
    }

    .content-secondary .ui-collapsible-content {
        display: block;
        margin: 0;
        padding: 0;
    }

    .type-interior  .content-secondary .ui-li-divider {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .type-interior .content-secondary {
        margin: 0;
        padding: 0;
    }

}

@media all and (min-width: 750px) {
    .type-home .ui-content,
    .type-interior .ui-content {
        background-position: 39%;
    }

    .content-secondary {
        width: 34%;
    }

    .content-primary {
        width: 56%;
        padding-right: 1%;
        padding-bottom: 25px;
    }

    .type-interior .ui-content {
        background-position: 34%;
    }
}

@media all and (min-width: 1200px) {
    .type-home .ui-content {
        background-position: 38.5%;
    }

    .type-interior .ui-content {
        background-position: 30%;
    }

    .content-secondary {
        width: 30%;
        padding-right: 6%;
        margin: 30px 0 20px 5%;
    }

    .type-interior .content-secondary {
        margin: 0;
        padding: 0;
    }

    .content-primary {
        width: 50%;
        margin-right: 5%;
        padding-right: 3%;
        padding-bottom: 25px;
    }

    .type-interior .content-primary {
        width: 60%;
    }
}

/*Page Specific Stuff*/

.springBoard {
    margin: 0 auto;
    width: 100%;
}

.springBoard_item {
    text-align: center;
    width: 114px;
    float: left;
    padding: 10px;
    margin: 0 auto;

}



.springBoard_item a {
    text-decoration: none;

}

.header_buttons {
    height: 15px;
    padding-left: 10px;
    padding-top: 2px;
}
#footer_sink
{
    position: absolute;
    bottom: 0;
    margin-bottom: -1px;
}
#footer_sink_pad
{
    padding-top: 20px;
}

/*
div.content-primary
{
    padding-bottom: 25px;
    height: 100%;
}
div#spring
{
    padding-bottom: 600px;
}*/
