/* Special Wing Theme
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-w {
    border: 1px solid #B3B3B3 /*{d-bar-border}*/;
    background: #000 /*{d-bar-background-color}*/;
    color: #fff /*{d-bar-color}*/;
    font-weight: bold;
    text-shadow: 0 /*{d-bar-shadow-x}*/ 1px /*{d-bar-shadow-y}*/ 1px /*{d-bar-shadow-radius}*/ #000 /*{d-bar-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#070707 /*{d-bar-background-start}*/), to(#333 /*{d-bar-background-end}*/)); /* Saf4 , Chrome */
    background-image: -webkit-linear-gradient(top, #070707 /*{d-bar-background-start}*/, #333 /*{d-bar-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image: -moz-linear-gradient(top, #070707 /*{d-bar-background-start}*/, #333 /*{d-bar-background-end}*/); /* FF3.6 */
    background-image: -ms-linear-gradient(top, #070707 /*{d-bar-background-start}*/, #333 /*{d-bar-background-end}*/); /* IE10 */
    background-image: -o-linear-gradient(top, #070707 /*{d-bar-background-start}*/, #333 /*{d-bar-background-end}*/); /* Opera 11.10  */
    background-image: linear-gradient(top, #070707 /*{d-bar-background-start}*/, #333 /*{d-bar-background-end}*/);
}

.ui-bar-w .ui-link-inherit {
    color: #3E3E3E /*{d-bar-color}*/;
}

.ui-bar-w .ui-link {
    color: #7cc4e7 /*{d-bar-link-color}*/;
    font-weight: bold;
}

.ui-bar-w .ui-link:hover {
    color: #2489CE /*{d-bar-link-hover}*/;
}

.ui-bar-w .ui-link:active {
    color: #2489CE /*{d-bar-link-active}*/;
}

.ui-bar-w .ui-link:visited {
    color: #2489CE /*{d-bar-link-visited}*/;
}

.ui-bar-w,
.ui-bar-w input,
.ui-bar-w select,
.ui-bar-w textarea,
.ui-bar-w button {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.ui-body-w,
.ui-wialog.ui-overlay-w {
    border: 1px solid #2e3192 /*{d-body-border}*/;
    color: #333333 /*{d-body-color}*/;
    text-shadow: 5 /*{d-body-shadow-x}*/ 1px /*{d-body-shadow-y}*/ 0 /*{d-body-shadow-radius}*/ #FFFFFF /*{d-body-shadow-color}*/;
    background: #fff /*{d-body-background-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff /*{d-body-background-start}*/), to(#fff /*{d-body-background-end}*/)); /* Saf4 , Chrome */
    background-image: -webkit-linear-gradient(top, #fff /*{d-body-background-start}*/, #fff /*{d-body-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image: -moz-linear-gradient(top, #fff /*{d-body-background-start}*/, #fff /*{d-body-background-end}*/); /* FF3.6 */
    background-image: -ms-linear-gradient(top, #fff /*{d-body-background-start}*/, #fff /*{d-body-background-end}*/); /* IE10 */
    background-image: -o-linear-gradient(top, #fff /*{d-body-background-start}*/, #fff /*{d-body-background-end}*/); /* Opera 11.10  */
    background-image: linear-gradient(top, #fff /*{d-body-background-start}*/, #fff /*{d-body-background-end}*/);
}

.ui-body-w,
.ui-body-w input,
.ui-body-w select,
.ui-body-w textarea,
.ui-body-w button {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.ui-body-w .ui-link-inherit {
    color: #333333 /*{d-body-color}*/;
}

.ui-body-w .ui-link {
    color: #2489CE /*{d-body-link-color}*/;
    font-weight: bold;
}

.ui-body-w .ui-link:hover {
    color: #2489CE /*{d-body-link-hover}*/;
}

.ui-body-w .ui-link:active {
    color: #2489CE /*{d-body-link-active}*/;
}

.ui-body-w .ui-link:visited {
    color: #2489CE /*{d-body-link-visited}*/;
}

.ui-btn-up-w {
    border: 1px solid #bbbbbb /*{d-bup-border}*/;
    background: #FFD200 /*{d-bup-background-color}*/;
    font-weight: bold;
    color: #000 /*{d-bup-color}*/;
    text-shadow: 1px /*{d-bup-shadow-x}*/ 1px /*{d-bup-shadow-y}*/ 1px /*{d-bup-shadow-radius}*/ #fff /*{d-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffdf52 /*{d-bup-background-start}*/), to(#FFD200 /*{d-bup-background-end}*/)); /* Saf4 , Chrome */
    background-image: -webkit-linear-gradient(top, #ffdf52 /*{d-bup-background-start}*/, #FFD200 /*{d-bup-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image: -moz-linear-gradient(top, #ffdf52 /*{d-bup-background-start}*/, #FFD200 /*{d-bup-background-end}*/); /* FF3.6 */
    background-image: -ms-linear-gradient(top, #ffdf52 /*{d-bup-background-start}*/, #FFD200 /*{d-bup-background-end}*/); /* IE10 */
    background-image: -o-linear-gradient(top, #ffdf52 /*{d-bup-background-start}*/, #FFD200 /*{d-bup-background-end}*/); /* Opera 11.10  */
    background-image: linear-gradient(top, #ffdf52 /*{d-bup-background-start}*/, #FFD200 /*{d-bup-background-end}*/);
}

.ui-btn-up-w a.ui-link-inherit {
    color: #fff /*{d-bup-color}*/;
}

.ui-btn-hover-w {
    border: 1px solid #BBBBBB /*{d-bhover-border}*/;
    background: #000 /*{d-bhover-background-color}*/;
    font-weight: bold;
    color: #fff /*{d-bhover-color}*/;
    text-shadow: 0px /*{d-bhover-shadow-x}*/ 1px /*{d-bhover-shadow-y}*/ 1px /*{d-bhover-shadow-radius}*/ #000 /*{d-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000 /*{d-bhover-background-start}*/), to(#000 /*{d-bhover-background-end}*/)); /* Saf4 , Chrome */
    background-image: -webkit-linear-gradient(top, #000 /*{d-bhover-background-start}*/, #000 /*{d-bhover-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image: -moz-linear-gradient(top, #000 /*{d-bhover-background-start}*/, #000 /*{d-bhover-background-end}*/); /* FF3.6 */
    background-image: -ms-linear-gradient(top, #000 /*{d-bhover-background-start}*/, #000 /*{d-bhover-background-end}*/); /* IE10 */
    background-image: -o-linear-gradient(top, #000 /*{d-bhover-background-start}*/, #000 /*{d-bhover-background-end}*/); /* Opera 11.10  */
    background-image: linear-gradient(top, #000 /*{d-bhover-background-start}*/, #000 /*{d-bhover-background-end}*/);
}

.ui-btn-hover-w a.ui-link-inherit {
    color: #fff /*{d-bhover-color}*/;
}

.ui-btn-wown-w {
    border: 1px solid #808080 /*{d-bdown-border}*/;
    background: #2e3192 /*{d-bdown-background-color}*/;
    font-weight: bold;
    color: #FFFFFF /*{d-bdown-color}*/;
    text-shadow: 1px /*{d-bdown-shadow-x}*/ 1px /*{d-bdown-shadow-y}*/ 1px /*{d-bdown-shadow-radius}*/ #000 /*{d-bdown-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#242774 /*{d-bdown-background-start}*/), to(#373aaf /*{d-bdown-background-end}*/)); /* Saf4 , Chrome */
    background-image: -webkit-linear-gradient(top, #242774 /*{d-bdown-background-start}*/, #373aaf /*{d-bdown-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image: -moz-linear-gradient(top, #242774 /*{d-bdown-background-start}*/, #373aaf /*{d-bdown-background-end}*/); /* FF3.6 */
    background-image: -ms-linear-gradient(top, #242774 /*{d-bdown-background-start}*/, #373aaf /*{d-bdown-background-end}*/); /* IE10 */
    background-image: -o-linear-gradient(top, #242774 /*{d-bdown-background-start}*/, #373aaf /*{d-bdown-background-end}*/); /* Opera 11.10  */
    background-image: linear-gradient(top, #242774 /*{d-bdown-background-start}*/, #373aaf /*{d-bdown-background-end}*/);
}

.ui-btn-wown-w a.ui-link-inherit {
    color: #FFFFFF /*{d-bdown-color}*/;
}

.ui-btn-up-w,
.ui-btn-hover-w,
.ui-btn-wown-w {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
    text-decoration: none;
}

/* w2 Bar style for inverting the bottom gradient */

.ui-bar-w2 {
    border: 1px solid #B3B3B3 /*{d-bar-border}*/;
    background: #000 /*{d-bar-background-color}*/;
    color: #fff /*{d-bar-color}*/;
    font-weight: bold;
    text-shadow: 0 /*{d-bar-shadow-x}*/ 1px /*{d-bar-shadow-y}*/ 1px /*{d-bar-shadow-radius}*/ #000 /*{d-bar-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#333 /*{d-bar-background-start}*/), to(#070707 /*{d-bar-background-end}*/)); /* Saf4 , Chrome */
    background-image: -webkit-linear-gradient(top, #333 /*{d-bar-background-start}*/, #070707 /*{d-bar-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image: -moz-linear-gradient(top, #333 /*{d-bar-background-start}*/, #070707 /*{d-bar-background-end}*/); /* FF3.6 */
    background-image: -ms-linear-gradient(top, #333 /*{d-bar-background-start}*/, #070707 /*{d-bar-background-end}*/); /* IE10 */
    background-image: -o-linear-gradient(top, #333 /*{d-bar-background-start}*/, #070707 /*{d-bar-background-end}*/); /* Opera 11.10  */
    background-image: linear-gradient(top, #333 /*{d-bar-background-start}*/, #070707 /*{d-bar-background-end}*/);
}

.ui-bar-w2 .ui-link-inherit {
    color: #3E3E3E /*{d-bar-color}*/;
}

.ui-bar-w2 .ui-link {
    color: #7cc4e7 /*{d-bar-link-color}*/;
    font-weight: bold;
}

.ui-bar-w2 .ui-link:hover {
    color: #2489CE /*{d-bar-link-hover}*/;
}

.ui-bar-w2 .ui-link:active {
    color: #2489CE /*{d-bar-link-active}*/;
}

.ui-bar-w2 .ui-link:visited {
    color: #2489CE /*{d-bar-link-visited}*/;
}

.ui-bar-w2,
.ui-bar-w2 input,
.ui-bar-w2 select,
.ui-bar-w2 textarea,
.ui-bar-w2 button {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
