/*Clear defaults and push content to window edges*/
html, body {
    margin: 0;
    padding: 0;
}

/*build the container*/
#container {
    width: 1000px;
}

/*nav structure*/
#left_nav {
    float: left;
    width: 200px;
    height: 610px;
    /*Use a gradient background for the nav tab*/
    background-image: url("assets/images/navGrad.png");
    background-repeat: repeat-y;
    border-radius: 0 0 20px 0;
    box-shadow: 0px 5px 30px #000; /*Fancy CSS3 shadow*/
}
/*Text at the navbar's footer*/
.footText {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    padding-left: 15px;
}

#left_nav li {
    list-style-type: none;
    border-bottom: dashed 1px;  /*Add some way to show where the "button" fields actually will work when clicked*/
    margin-left: -40px; /*Fix for the nav jumping out too far to the right*/

}

#left_nav img {
    margin-bottom: -8px; /*Move the swirly accent up to align with the horizontal rule under the header*/
}

/*Fix the border on top of the home button*/
.homeFix {
    border-top: dashed 1px;
}
/*Build Nav Buttons*/
#left_nav a {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;  /*Create the clickable area around the links to simulate buttons*/
    padding-right: 10px;
    display: block;
    text-decoration: none; /*Remove bullets from list*/
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 18px;
    color: #000;
}

#left_nav a:hover {
    background-color: #11a1dc;
    color: #000;
}
/*END NAV CSS*/
/*Code needed for slideshow, could go in header of challenge6.html, but I left it here for the sake of having all styles in one place*/
.slides {
    display: none; /*Don't display the images until Javascript calls them*/
    z-index: 1;
    padding-left: 5px;
}
/*Start the first slide displaying*/
#slide1 {
    display: block;
}
/*END SLIDESHOW CSS*/

/*Anything modifying the content area goes below this line*/
#content {
    padding-left: 225px;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 14px;
}

#content h2 {
    font-family: Helvetica, Arial, sans-serif;
}

.frontImg {
    float: right; /*Put the image on the front page to the right of the text*/
}


/*END CONTENT STYLING*/

/*Making the ads look good in Challenge 3*/
#rightAd {
    float: right; /*Put the vertical ad on the right side*/

}
.contentSm {
    width: 650px;
}
/*Front page mission statement*/
.missionStatement {
    font-size: 18px;
    font-style: italic;
}

/*Styling the Q&A stuff in challenge 4*/
#content h3 {
    font-family: helvetica, tahoma, sans-serif;
    font-size: 1.25em;
    color: #464646
}

.answer {
    font-family: helvetica, tahoma, sans-serif;
    font-size: 1.10em;
    color: #f26522
}