html, body
{
	color: white;
	margin: 0;
	padding: 0;
	background-color: #10665d;
}

#container
{
	width: 100%;
}

#bg_scene
{
	height: 100%;
	width: inherit;
	display: none;
	top:0;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 1;
}

.bg
{
	height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 0;
	z-index: 1;
	position: inherit;
}

head_scene
{
	display: none;
}

.head_text
{
	display: none;
	width: 750px;
	margin-left: -375px;
	top: 0;
	z-index: 2;
	left: 50%;
	position: absolute;
}

.button_field
{
	width: 225px;
	left: 55%;
	top: 30%;
	z-index: 3;
	position: absolute;
	display: none;
}

.buttons
{
	padding-bottom: 7px;
	border: 0;
}

.no_space
{
	padding: 0;
	margin: 0;
}

.img_embed
{
	padding-right: 7px;
	border: 0;
	margin-top: 5px;
}

.headings
{
	text-align: center;
	font-family: Droid Sans, Arial, Helvetica, sans-serif;
}
/*Imports*/

#maincontainer
{
	width: 1000px;
	background-color: #FFFFFF;
	border: 1px #000;
	font-family: Times, Georgia, serif;
	-moz-box-shadow: 0px 5px 15px #000;
	-webkit-box-shadow: 0px 5px 15px #000;
	box-shadow: 0px 5px 15px #000;
	margin: 0 auto;
}
#banner
{
	width: 1000px;
	height: 200px;
}
#nav_bar
{
	list-style-type:none;
	margin:-3px 0 0 0;
	padding:0;
	width:1000px;
}
#nav_bar li
{
	float:left;
	text-align:center;
	font-family: Molengo, Arial, Helvetica, sans-serif;
	font-size: 20px;
}
#nav_bar a
{
	display: block;
	width: 200px;
	background-color: #996633;
	color: white;
	padding: 5px 0 5px 0;
	text-decoration: none;
}
#nav_bar a:hover
{
	background-color: #FFF;
	color:#000;
}
#rightcol
{
	float: right;
	width: 750px;
	background-color: #FFF;
	padding: 10px;
	border-left: 1px #8A8B8A solid;
}
#rightcol h1
{
	text-align: center;
}
#leftcol
{
	float: left;
	width: 200px;
	padding: 10px;
	background-color: #FFF;
}
#onecol
{
	color: black;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 25px;
	width: 980px;
	background-color: #FFF;
	font-size: 13pt;
	line-height: 1.5;
}
#leftcol h2
{
	text-align: center;
}
#footer
{
	color: black;
	text-align: right;
	padding: 5px 10px;
	clear: both;
	background-color: #FFFFFF;
	border-top: #8A8B8A 1px solid;
	font-family: Droid Sans, Arial, Helvetica, sans-serif;
	
}

.center
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}